<!-- <img src="../assets/images/logo.jpg" height="100px" witdh="100px"> -->
<h2>Company Logo</h2>
<hr>
<ul style="list-style-type:none;">
    <li style="color:rgb(206, 244, 255)"><u>Inventory</u></li>
    <li><u>Operations</u></li>
    <li><u>Display</u></li>
    <li><u>Archive</u></li>
</ul>
<!-- 
    Hide the toolbar and supply the parameter(s) through the URL itself
    - rs:Embed=True -> lets us run the report inside the iframe
    - rc:Toolbar=False -> This hides the parameter bar, print/save icon, etc
    - iProductionDateFrom, iProduct, etc. supply the report parameters
-->
<iframe 
    width="80%" 
    style="height: 70vh;margin-left:10%;" 
    src="http://report_server/reports/report/ReportDiretory1/Report1?rs:Embed=True">
</iframe>
<hr>
<p>&#169; Company 2021</p>